.button {
  outline: none;
  background: var(--ec-secondary);

  &:active {
    outline: none;
    outline: 1px solid var(--ec-light);
  }

  &:focus {
    box-shadow: 0px 0px 4px 2px var(--ec-disabled);
  }

  &:hover {
    opacity: 0.8;
  }

  padding: 0.75em 1em;
  font-size: 14px;
  line-height: 20px;

  border-radius: 0.5em;

  &--primary {
    background-color: var(--ec-primary);
    color: var(--ec-light);
  }

  &--secondary {
    background-color: var(--ec-light);
    color: var(--ec-primary);
  }

  &--text {
    background: none;
    color: var(--ec-primary);
    &:hover {
      text-decoration: underline;
    }
    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  &:disabled {
    background-color: var(--ec-disabled);
    cursor: not-allowed;
  }
}
