.categories {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid var(--ec-light);
  display: flex;
  &__button {
    margin-right: auto;
  }

  &__list {
    // position: absolute;
    // top: 0;
    // right: 0;
    // border: 1px solid var(--ec-light);
    transition: all 0.3s ease;
    min-width: 300px;
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;

    // &.open {
    //   opacity: 1;
    // }
    // &.close {
    //   opacity: 0;
    //   user-select: none;
    //   pointer-events: none;
    // }
  }

  &__list-item {
    margin-left: 0.5em;
  }
}
