.categories {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  border-bottom: 1px solid var(--ec-light);
  display: flex;
  &__button {
    margin-right: auto;
  }

  &__list {
    transition: all 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;

    &.close {
      justify-content: flex-end;
    }
  }

  &__list-item {
    margin-left: 0.5em;
  }
}
