.categories {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;

  &__list {
    position: absolute;
    background-color: blanchedalmond;
    transition: all 0.3s ease;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1rem;
    top: 100%;

    &.open {
      opacity: 1;
    }
    &.close {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }
}
